<div *ngIf="hasSuccess" class="alert alert-success">
    <p>{{successMessage}}</p>
</div>
<div *ngIf="hasError" class="alert alert-danger">
    <p>{{errorMessage}}</p>
</div>

<br>
<form [formGroup]="registrationForm" (ngSubmit)="registerUser(registrationForm)">
    <div>
        <label>FullName: </label>
        <input type="text" name="fullname" id="fullname" placeholder="Fullname" ngModel>
    </div><br>
    <div>
        <label>Username: </label>
        <input type="text" name="username" id="username" placeholder="Username" ngModel >
    </div><br>
    <div>
        <label>password: </label>
        <input type="password" name="password" id="password" placeholder="password" ngModel >
    </div><br>
    <div>
        <label>Repeat-Password: </label>
        <input type="password" name="repassword" id="repassword" placeholder="Repeat Password" ngModel>
    </div><br>
    <input type="submit" value="Submit" >
</form>